@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (height: 100dvh) {
  :root {
    --viewport-height: 100dvh;
    --viewport-width: 100dvw;
  }
}
@supports not (height: 100dvh) {
  :root {
    --viewport-height: 100vh;
    --viewport-width: 100vw;
  }
}

body,
#app {
  @apply bg-black text-white;

  height: var(--viewport-height);
  width: var(--viewport-width);
}

h1 {
  @apply text-3xl pt-6 pb-3;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

a {
  @apply underline;
  color: inherit;
}

input,
button {
  @apply bg-gray-700 hover:bg-gray-800 text-white p-2  rounded-md transition-colors;
}
